.services {
  background: #F2F2F2;
  color: #000;
  padding: 98px 0 89px;
}

.services__list {
  margin-bottom: 63px;
}

.service {
  display: flex;
  min-height: 333px;
  margin-bottom: 49px;
}

.service:last-child {
  margin-bottom: 0;
}

.service__img {
  min-height: inherit;
  width: 40%;
  margin-right: 6%;
}

.service__img-elem {
  min-height: inherit;
}

.service__content {
  flex: 1;
  padding: 11px 0;
}

.service__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28px;
}

.service__desc {
  margin-bottom: 34px;
  color: #303030;
  line-height: 1.69;
}